<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Add jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-box">
        <form id="login-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password">

            <button type="submit">Login</button>
        </form>
        <a href="#" id="register-btn">Register</a>
        <a href="#" id="forgot-password">Forgot Password?</a>
    </div>
    <div id="register-popup" style="display:none;">
        <form id="register-form">
            <label for="reg-username">Username:</label>
            <input type="text" id="reg-username" name="username" required>

            <label for="reg-password">Password:</label>
            <input type="password" id="reg-password" name="password" required>

            <label for="reg-email">Email:</label>
            <input type="email" id="reg-email" name="email" required>

            <label for="reg-phone">Phone:</label>
            <input type="text" id="reg-phone" name="phone" required>
            <div class="button-container"> 
                <button type="submit" id="register-btn">Register</button>
                <button type="button" id="close-popup">Close</button>
            </div>
            
        </form>
    </div>
</body>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>

</html>
